<div class="container text-center">

    <div>
        {{ content.tytul | raw}}
    </div>

    <div class="row" style="margin-top: 4rem; padding-bottom: 4rem; font-family: Rubik;">
        {% for item in content.lista %}
        <div class="col-12 col-md">

            <div>
                {{ item.opis | raw}}

            </div>
            <div>
                <img src="{{ item.logo }}" alt="" class="img-fluid">

            </div>

        </div>

        {% endfor %}
    </div>

</div>