<div class="container text-center">
    {%if content.tytul %}
    <div>
        {{ content.tytul | raw}}
    </div>
    {% endif %}

    <div class="row" style="margin-top: 4rem; padding-bottom: 4rem; font-family: Rubik;">
        {% for item in content.lista %}
        <div class="col">

            <div>
                {{ item.opis | raw}}

            </div>
            {% if item.logo %}
            <div>
                <img src="{{ cdn(item.logo) }}" alt="zdjecie" class="img-fluid">

            </div>
            {% endif %}

        </div>

        {% endfor %}
    </div>

</div>